//
// Modules -> Media
// --------------------------------------------------

.media{
  display:block;
  @extend .clearfix;
}
.media__img{
  float:left;
  margin-right: $line-height-computed;
}
// Reversed image location (right instead of left).
.media__img--rev{
  float:right;
  margin-left: $line-height-computed;
}

.media__img img,
.media__img--rev img{
  display: block;
}

.media__body{
  overflow:hidden;
}
.media__body,
.media__body > :last-child{
  margin-bottom:0;
}

// .img`s in `.islet`s need an appropriately sized margin.
.islet .media__img{
  margin-right: $line-height-computed-half;
}
.islet .media__img--rev{
  margin-left: $line-height-computed-half;
}