.breadcrumbs
    .container
        .col-xs-12
            ul.breadcrumb
                li
                    a(href="#") Главная
                li.active= title.description
            h1= title.description