if title.description == 'Сайдбар'
    aside
        .panel.padbot20
            h4  Заголовок
            - for (var x = 1; x < 6; x++)
                p
                    a.underline__link(href="#") Линк_#{x}