extends ./layouts/master.pug

block title
  title Title

block pageName
  - var pageName = "index"

block header
  include partials/_header.pug

block content
  div.container
    | Тестовая страница

block footer
  include partials/_footer.pug
