extends layouts/_default

block content
    - var title = { description: 'Typical' }
    include modules/_breadcrumbs
    #main.container.padbot50
        include modules/_sidebar
        .col-xs-10
            .content.aticle_post
                p.padtop20
                    span.news__date 27 июля 2015
                p Взаимодействие корпорации и клиента специфицирует обществвенный системный анализ. По
                    | сути, контент стабилизирует сублимированный поведенческий таргетинг. Организация
                    | практического взаимодействия осмысленно усиливает экспериментальный BTL. Бизнес-план
                    | восстанавливает комплексный рейтинг. Стоит отметить, что направленный маркетинг основан
                    | на опыте повседневного применения.
                p К тому же &nbsp;
                    a(href="#") ссылка в тексте
                    |  точечное воздействие последовательно транслирует фирменный медиабизнес,
                    | отвоевывая рыночный сегмент. Рекламное сообщество масштабирует креативный бренд,
                    | учитывая современные тенденции. Более того, ассортиментная политика предприятия
                    | охватывает анализ зарубежного опыта.
            include modules/_pager
        .clearfix
            // sample title
        .col-xs-8.type__text
            h2 Заголовок H2
            ul
                - for (var x = 0; x < 2; x++)
                    li Диск штампованный 6.0Jx15H2 4/100/54.1 ET48
                        ul
                            li Диск штампованный 6.0Jx15H2 4/100/54.1 ET48
                            li Диск штампованный 6.0Jx15H2 4/100/54.1 ET48
                - for (var y = 0; y < 3; y++)
                    li Диск штампованный 6.0Jx15H2 4/100/54.1 ET48
        .col-xs-8
            h1 Заголовок H1
            h2 Заголовок H2
            h3 Заголовок H3
            h4 Заголовок H4
            h5 Заголовок H5
            .type__text
                h2 Нумерованный список
                p Нумерованный список
                ol
                    - for (var x = 0; x < 2; x++)
                        li Вам не нужно оплачивать разработку и изготовление штампа (2 000-10 000 р.);
                            li Вам не нужно ждать изготовления штампа (3-5 дней);
                            li Вы сокращаете время изготовления заказа, разложив изделия на лист.
        .clearfix
            // sample catalog
        div
            h2 Каталог
            .padbot20.clearfix
                .pull-right
                    button(type="submit", class="btn btn-default")
                        i.fa.fa-download
                        |  выгрузить в CSV
                .pull-right.margright10
                    button(type="submit", class="btn btn-default")
                        i.fa.fa-file-o
                        |  заказ списком
            .catalog.clearfix.pull-right
                .pull-left.data__sortM.data__sort-js Сортировать по:
                    .inlineb.data__sort-item.data__sort-item-js
                        a(href="#", class="data__sort") Скидка
                            i.fa.fa-lg
                .pull-right
                    p
                        b.font-xlg.text-default 30256
                        span  товаров
                table.table.table-striped
                    thead
                        tr
                            th Артикул
                            th Наименование
                            th Наличие
                                i.fa.fa-lg
                            th Транзит
                                br
                                | <14
                                i.fa.fa-lg
                            th Транзит
                                br
                                | >14
                                i.fa.fa-lg
                            th Резерв
                                i.fa.fa-lg
                            th Цена
                                br
                                | руб
                                i.fa.fa-lg
                            th Кол-во
                            th &nbsp;
                    tbody
                        - for (var x = 0; x < 3; x++)
                            tr
                                td WC4260sp00
                                    span.show.padtop10.padbot0.font-sm.text-default Аналоги:
                                td
                                    a(href="#").underline__link Canon PowerShot SX60 HS
                                    - for (var y = 0; y < 3; y++)
                                        button.btn.btn-default.btn-xs.text-default WC4260sp
                                td 12
                                td 0
                                td 0
                                td 3
                                td 23 877
                                td
                                    .input-group
                                        a(href="#", class="btn btn-default btn-sm input-group-addon inc") -
                                        input(type="text", value="1", class="text-center quantity form-control", maxlength="3")
                                        a(href="#", class="btn btn-default btn-sm input-group-addon dec") +
                                td
                                    button.btn.btn-success.btn-sm В корзину
                    tfoot
                        tr
                            td(colspan="9", class="font-xlg text-right") Итого
                                b  185 250 Р
                .pull-left
                    include modules/_paginator
                .pull-right.padtopbot20.col-xs-6.row
                    .row
                        .col-xs-5.inlineb.v-middle.fl-none  Показывать на странице:
                        .col-xs-5.inlineb.v-middle.fl-none.row
                            .row
                                select
                                    option 100
                                    option 50
                                    option 10
                                    option 5
        .clearfix

        p= index.footer
