extends layouts/_default
block content
    - var title = { description: 'Заголовок' }
    #main.container
        #benefits.benefits.text--center.margtop100
            .container
                .row.around-xs.benefit.anchor
                    .col-xs-2.benefit__block
                        a(href="#accordion-1").accordion-section-title-id
                            i.ico.ico-benefit
                            | Документы, листовки,
                            | бланки
                    .col-xs-2.benefit__block
                        a(href="#accordion-2").accordion-section-title-id
                            i.ico.ico-benefit
                            | Чертежи и плакаты
                    .col-xs-2.benefit__block
                        a(href="#accordion-3").accordion-section-title-id
                            i.ico.ico-benefit
                            | Срочное фото и
                            | фотопечать
                    .col-xs-2.benefit__block
                        a(href="#accordion-4").accordion-section-title-id
                            i.ico.ico-benefit
                            | Сканирование
                .row.around-xs.benefit.margtop100
                    .col-xs-2.benefit__block
                        a(href="#accordion-5").accordion-section-title-id
                            i.ico.ico-benefit
                            | Ламинирование и
                            | брошюровка
                    .col-xs-2.benefit__block
                        a(href="#accordion-6").accordion-section-title-id
                            i.ico.ico-benefit
                            | Печати и штампы
                    .col-xs-2.benefit__block
                        a(href="#accordion-7").accordion-section-title-id
                            i.ico.ico-benefit
                            | Сувениры
                    .col-xs-2.benefit__block
                        a(href="#accordion-8").accordion-section-title-id
                            i.ico.ico-benefit
                            | Визитки
        #shares.shares.text--center.text--xlg.margtop50
            .container
                h2.margbot70 Специальные предложения
                #shares_anim.row.around-xs
                    .col-xs-4
                        img(src="images/share__01.png", alt="")
                        b Визитки за 15 мин
                            br
                            | от 299 руб
                    .col-xs-4
                        img(src="images/share__02.png", alt="")
                        b Скидка 10% студентам
                    .col-xs-4
                        img(src="images/share__03.png", alt="")
                        b Система скидок для
                            | корпоративных клиентов

        #partners.partners.text--center
            .container
                h2 Наши партнеры
                .row.around-xs.margtop50
                    - for (var x = 1; x <= 6; x++)
                        .col-xs-2
                            img(src="images/partners__0#{x}.png", alt="")